In [ ]:
'''
5-1-1
Имеются следующие данные о транзакциях в период с 01.12.2010 по 12.09.2011:

InvoiceNo — номер транзакции
StockCode — код товара
Description — описание товара
Quantity — количество единиц товара, добавленных в заказ
InvoiceDate — дата транзакции 
UnitPrice — цена за единицу товара
CustomerID — id клиента
Country — страна, где проживает клиент
Данные можно скачать отсюда.

В данной задаче ссылка для считывания данных лежит в переменной path_to_file.
Импортируйте пандас и прочитайте данные с кодировкой ISO-8859-1. Запишите полученный датафрейм в retail, 
а названия колонок сохраните в переменную retail_columns.'''

In [40]:
import pandas as pd

In [45]:
retail = pd.read_csv('https://getfile.dokpub.com/yandex/get/https://disk.yandex.ru/d/jjaJNk2w3C9AhA', encoding='ISO-8859-1', compression='zip')

In [42]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [43]:
retail_columns=retail.columns

In [ ]:
'''
5-1-2
Проверьте, встречаются ли в данных повторяющиеся наблюдения, и в качестве ответа укажите их количество. 
Если они есть, то удалите их из retail.

'''

In [20]:
retail.duplicated().sum()

5268

In [21]:
retail_no_dupl = retail.drop_duplicates()

In [22]:
retail.shape

(541909, 8)

In [25]:
retail_no_dupl.count()

InvoiceNo      536641
StockCode      536641
Description    535187
Quantity       536641
InvoiceDate    536641
UnitPrice      536641
CustomerID     401604
Country        536641
dtype: int64

In [26]:
retail.count() - retail_no_dupl.count()

InvoiceNo      5268
StockCode      5268
Description    5268
Quantity       5268
InvoiceDate    5268
UnitPrice      5268
CustomerID     5225
Country        5268
dtype: int64

In [ ]:
'''
5-1-3
⭐️ Задание со звёздочкой! ⭐️
Данные содержат в себе записи как об успешных транзакциях, так и об отмененных. Если пользователь отменил заказ, 
в начале номера транзакции (InvoiceNo) ставится C (canceled). 
Сколько всего транзакций отменили пользователи? Считайте, что каждая строка - это отдельная транзакция.
'''

In [37]:
retail.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [46]:
retail.InvoiceNo.str.startswith('C').sum()

9288

In [47]:
retail = retail.drop_duplicates()

In [48]:
retail.InvoiceNo.str.startswith('C').sum()

9251

In [ ]:
'''5-1-4
Теперь отфильтруйте данные и оставьте в retail только те заказы, где Quantity > 0. В качестве ответа укажите число 
оставшихся строк.'''

In [50]:
retail.query('Quantity > 0').shape

(526054, 8)

In [ ]:
'''
5-1-5
💀 Сложное задание! 💀
Посчитайте число заказов для каждого пользователя (CustomerID) из Германии (Germany). Оставьте только тех, 
кто совершил более N транзакций (InvoiceNo), где N – 80% процентиль. Запишите полученные id пользователей в germany_top 
(не весь датафрейм, только id).
Отфильтрованные данные записаны в retail. Идентификатор заказа – InvoiceNo. Для каждого заказа в данных может 
встречаться более 1 строки.'''

In [51]:
retail.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [84]:
retail_Germany_80 = int(retail.query('Country == "Germany"').groupby('CustomerID').agg({'InvoiceNo':'nunique'}).quantile(0.8))

In [88]:
germany_top = retail.query('Country == "Germany"') \
                    .groupby('CustomerID') \
                    .agg({'InvoiceNo':'nunique'}) \
                    .query('InvoiceNo > @retail_Germany_80') \
                    .index

In [89]:
germany_top

Float64Index([12471.0, 12472.0, 12474.0, 12476.0, 12481.0, 12500.0, 12569.0,
              12600.0, 12619.0, 12621.0, 12626.0, 12647.0, 12662.0, 12705.0,
              12708.0, 12709.0, 12712.0, 12720.0],
             dtype='float64', name='CustomerID')

In [ ]:
'''5-1-6
⭐️ Задание со звёздочкой! ⭐️
Используя объект с id пользователей (germany_top), полученный на предыдущем шаге, отфильтруйте наблюдения и оставьте 
в данных записи только по интересующим нас юзерам. Результирующий датафрейм запишите в top_retail_germany.
Датафрейм записан в retail, нужные id пользователей – в germany_top
'''

In [93]:
top_retail_germany = retail.query("CustomerID in @germany_top")
top_retail_germany

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/2010 13:04,2.95,12662.0,Germany
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,12/1/2010 13:04,2.55,12662.0,Germany
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,12/1/2010 13:04,0.85,12662.0,Germany
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,12/1/2010 13:04,1.65,12662.0,Germany
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,12/1/2010 13:04,1.95,12662.0,Germany
...,...,...,...,...,...,...,...,...
541726,581570,22139,RETROSPOT TEA SET CERAMIC 11 PC,3,12/9/2011 11:59,4.95,12662.0,Germany
541727,581570,23077,DOUGHNUT LIP GLOSS,20,12/9/2011 11:59,1.25,12662.0,Germany
541728,581570,20750,RED RETROSPOT MINI CASES,2,12/9/2011 11:59,7.95,12662.0,Germany
541729,581570,22505,MEMO BOARD COTTAGE DESIGN,4,12/9/2011 11:59,4.95,12662.0,Germany
541730,581570,POST,POSTAGE,1,12/9/2011 11:59,18.00,12662.0,Germany

In [90]:
'''5-1-7
Сгруппируйте top_retail_germany по коду товара (StockCode). Какой из продуктов добавляли в корзину чаще всего, кроме POST? 
Note: одним заказом считается единовременная покупка любого количества товара, т.е. без учета Quantity.
'''

In [95]:
top_retail_germany.groupby('StockCode').agg({'Country': 'count'}).sort_values('Country',ascending = False)

           Country
StockCode
POST           219
22326           62
22423           55
22328           45
22467           37
...            ...
23008            1
22999            1
20717            1
22119            1
22821            1

[1168 rows x 1 columns]

In [ ]:
'''5-1-8
Вернемся к анализу полного датасета retail. Создайте колонку Revenue с суммой покупки, используя колонки Quantity и UnitPrice.
Отфильтрованные данные записаны в retail.
'''

In [96]:
retail['Revenue'] = retail.Quantity * retail.UnitPrice

In [97]:
retail.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

In [ ]:
'''5-1-9
Для каждой транзакции (InvoiceNo), посчитайте финальную сумму заказа. В качестве ответа укажите топ-5 (InvoiceNo) 
по сумме заказа (через запятую с пробелом и в порядке убывания TotalRevenue)
Например, для следующего примера...

InvoiceNo StockCode Quantity InvoiceDate          UnitPrice  CustomerID  Revenue
536365    85123A    6        2010-12-01 08:26:00  2.55       17850.0     15.30
536365    71053     6        2010-12-01 08:26:00  3.39       17850.0     20.34
555555    71053     1        2010-12-02 18:00:00  3.39       17850.0     3.39

...сумма заказа будет равна:

InvoiceNo  TotalRevenue
536365     35.64
555555     3.39

И ответом будет:

536365, 555555
'''

In [116]:
retail_Total = (retail.groupby('InvoiceNo')
                      .agg({'Revenue': 'sum'})
                      .rename(columns={'Revenue':'TotalRevenue'})
                      .sort_values('TotalRevenue', ascending = False)
                      .index
                      .to_list()[:5])
print(*retail_Total, sep=', ')

581483, 541431, 574941, 576365, 556444